@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700|Lato:300,400,700|Montserrat|Open+Sans:300,400,600,700,800|Fira+Mono:300,400,700');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css');
body {
    font-family: "Fira Sans", sans-serif;
}

body, html {
    height: 100%;
    color: black;
    line-height: 1.8;
}
h2{
  font-family: "Lato", sans-serif;
  font-size: 4em;
  color: #404040;
}

h3{
  font-family: "Lato", sans-serif;
  font-size: 8em;
  color: white;
}

h1, h4, h5, h6{
  font-family: "Lato", sans-serif;
  font-size: 8em;
}

.subheading{
  color: white;
}

/*Anchor tag no line*/

a{text-decoration:none; border:none;}

.button{
  align: center;

}

/* HEADING ANIMATION--------------------------------------------------------- */

.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
    display: inline-block;
    letter-spacing: 0px;
    margin-right: 0px;
    font-family: "Lato";
    font-weight: 300;
    font-size: 8em;
    color: rgb(7, 7, 7);
    opacity: 1;
    transition: all 2.5s ease;
}

.fly-in-text li:last-child {
    margin-right: 0;
}

.fly-in-text.hidden li {
    opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) {
    transform: translateX(-200px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(2) {
    transform: translateX(20px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(3) {
    transform: translateX(-150px) translateY(-80px);
}

.fly-in-text.hidden li:nth-child(4) {
    transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(5) {
    transform: translateX(-300px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(6) {
    transform: translateX(20px) translateY(-20px);
}

.fly-in-text.hidden li:nth-child(7) {
    transform: translateX(30px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(8) {
    transform: translateX(30px) translateY(200px);
}

/* PROFLE PICTURE------------------------------------------------------------ */

.img-circle {
    margin-bottom: 30px;
    border: 1px outset rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.img-circle {
    transform: rotate(-90deg);
    display: inline-block;
    align-content: center;
    width: 350px;
    height: 350px;
    border-radius: 70%;
    background-repeat: no-repeat;
    background-position: center -20px;
    background-size: 500px;
    background-image: url(http://students.washington.edu/yangm17/GIT_REPO/portfolio/site/images/propic.jpg);
}

/* SOCIAL MEDIA ICONS-------------------------------------------------------- */

/*Icon size configuration*/

.big-icon {
    padding-right: 50px;
    font-size: 64px;
}

/* BACKGROUND VIDEO---------------------------------------------------------- */


/*Fit to page background video container*/

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0px;
    top: 0px;
    z-index: -1000;
    overflow: hidden;
}

#video-landing {
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    color: white;
}

#video-landing-setup {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
    background-size: cover;
}


/* BACKGROUND IMAGE---------------------------------------------------------- */


/* Create a Parallax Effect */

.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* (Logo. Full height) */

.bgimg-1 {
    min-height: 100%;
}


/* (Portfolio) */

.bgimg-2 {
    background-image: url("http://students.washington.edu/yangm17/GIT_REPO/portfolio/site/images/KerryPark.jpg");
    min-height:100vh;
}


/* (Contact) */

.bgimg-3 {
    background-image: url("http://students.washington.edu/yangm17/GIT_REPO/portfolio/site/images/University%20Way.jpg");
    min-height: 100vh;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}


/* NAVBAR-------------------------------------------------------------------- */


/* Navbar home logo */

.logo {
    position: relative;
    top: -1px;
    right: 2px;
}

/*boundingbox for navbar home logo */

.boundingbox {
    width: 22px;
    height: 23px;
}

.nav-link-fonts {
    color: black;
}

.nav-link-icons {
    color: black;
}


/*.navshadow{
  -webkit-box-shadow: 0 8px 6px -6px #33C1FF;
        -moz-box-shadow: 0 8px 6px -6px #33C1FF;
             box-shadow: 0 8px 6px -6px #33C1FF;
}*/


/* #myNavbar li:hover{
  background-color: black;
} */


/*.navbar-default {
  border:blue;
 -webkit-box-shadow: 0 8px 6px -6px #33C1FF;
        -moz-box-shadow: 0 8px 6px -6px #33C1FF;
             box-shadow: 0 8px 6px -6px #33C1FF;
}*/

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
